/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
/* common styles  */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  --nav-link-load: 500ms;
}
a {
  text-decoration: none;
}
/* ------------------
       header section 
 ----------------------- */
.mobile-nav {
  display: none;
}
.fas.fa-bars.checkbtn {
  font-size: 30px;
  color: white;
  float: left;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
.hide-it {
  display: none;
}
#check {
  display: none;
}

.header-section {
  background-color: blue;
  width: 100%;
  height: 677px;
}
.container {
  padding-top: 42px;
  margin-left: 156px;
  margin-right: 124px;
}
.nav-section {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links {
  display: flex;
}
.links li {
  list-style: none;
  margin-right: 36px;
  animation-name: nav-load;
  animation-duration: var(--nav-link-load);
  animation-delay: 0s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
.links a {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 7px 13px;
  border-radius: 3px;
}
.active,
.links a:hover {
  background-color: #1b9bff;
  transition: 0.5s;
}
.login-button {
  width: 123px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e02c6d;
}
.login-button:hover {
  animation-name: transform;
  animation-delay: 0.1s;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  transform: scale(1.2);
}

.login-icon {
  width: 17px;
  height: 16px;
  margin-right: 5px;
}
.Login-nav {
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.home-section {
  margin-top: 50px;
  display: flex;
}
.left-side {
  margin-right: 100px;
}
.section-title {
  font-size: 64px;
  line-height: 80px;
  color: white;
}
.watch-button {
  height: 44px;
  width: 168px;
  padding: 10px 30px;
  background-color: #e02c6d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.watch-button:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}
.watch-button:hover .effect {
  animation-name: transform;
  animation-delay: 0.4s;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  transform: translateX(10px);
}
.fa-arrow-right {
  color: white;
  width: 24px;
  height: 24px;
  margin-left: 6px;
}
.banner {
  width: 556px;
  height: 438px;
}
/*-----------------
    players section 
 ------------------- */
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
  margin-top: 70px;
  /* margin-left: 180px; */
}
.players:nth-child(1) {
  margin-left: 180px;
}
.players:nth-child(4) {
  margin-left: 180px;
}
.players:nth-child(7) {
  margin-left: 180px;
}
.players:nth-child(10) {
  margin-left: 180px;
}

.player {
  width: 330px;
  height: 474px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 5px;
}
.player:hover {
  transform: scale(1.1);
  overflow: hidden;
}
.player:hover .player-image {
  transition: transform 0.3s ease-in-out;
  transform: skew(3deg);
}
.player-dis {
  padding: 15px;
}
.player-image {
  width: 300px;
  height: 256px;
}
.player-name {
  font-size: 28px;
  line-height: 40px;
}
.player-exp {
  font-weight: 400;
  font-size: 16px;
}
/* -------------------------
     all heiglights section 
 --------------------------- */

.highlights {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 165px;
  margin-bottom: 258px;
}
.highlight-name {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}
.high-leftside {
  width: 466px;
  height: 309px;
  /* margin-left: 182px; */
  margin-right: 69px;
}
.match-img {
  width: 567px;
  height: 427px;
}

/* -----------------
    footer section  
------------------- */
.main-footer {
  width: 100%;
  height: 200px;
}
.foot-container {
  width: 236px;
  height: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 42%;
}
.f-logo {
  width: 484px;
  height: 110px;
}
.fab {
  width: 32px;
  height: 32px;
  text-decoration: none;
  color: grey;
}
.fab:hover {
  transition: transform 0.3s ease-in;
  transform: scale(1.2);
}
.copy {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

@keyframes nav-load {
  0% {
    transform: translateY(-1000%);
  }
  90% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 688px) {
  .hide-it {
    display: block;
  }
  .header-section {
    height: 740px;
  }
  .fas.fa-bars.checkbtn {
    display: block;
  }
  .links {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 100px;
    text-align: center;
    flex-direction: column;
    left: -100%;
    transition: all 0.5s;
  }
  .links li {
    margin-top: 50px;
    font-size: 48px;
    line-height: 60px;
  }
  #check:checked ~ .links {
    left: 0;
  }
  .active,
  .links a:hover {
    background: none;
    color: #0082e6;
  }
  .home-section {
    flex-direction: column;
    height: 695px;
  }
  .section-title {
    font-size: 36px;
    line-height: 50px;
    color: white;
  }
  .banner {
    margin-top: 25px;
    width: 329px;
    height: 259px;
  }
  .players {
    grid-template-columns: 1fr;
    grid-row-gap: 23px;
    margin-top: 70px;
  }
  .highlights {
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 0;
  }
  .highlight-name {
    font-size: 30px;
    line-height: 40px;
  }
  .high-leftside {
    width: 329px;
    height: 299px;
    margin-right: 0;
    margin-bottom: 29px;
  }
  .match-img {
    width: 328px;
    height: 248px;
    margin-bottom: 80px;
  }
  .main-footer {
    width: 100%;
    height: 200px;
  }
  .foot-container {
    width: 280px;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 27%;
  }
  .f-logo {
    width: 320px;
    height: 80px;
  }
  .fab {
    width: 25px;
    height: 25px;
    text-decoration: none;
    color: grey;
  }
}

@media only screen and (max-width: 952px) and (min-width: 689px) {
  .hide-it {
    display: block;
  }
  .fas.fa-bars.checkbtn {
    display: block;
  }
  .links {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 100px;
    left: 0;
    text-align: center;
    flex-direction: column;
    left: -100%;
    transition: all 0.5s;
  }
  .links li {
    margin-top: 50px;
    font-size: 48px;
    line-height: 60px;
  }
  #check:checked ~ .links {
    left: 0;
  }
  .active,
  .links a:hover {
    background: none;
    color: #0082e6;
  }
  .header-section {
    background-color: blue;
    width: 100%;
    height: 747px;
  }
  .home-section {
    flex-direction: column;
  }
  .section-title {
    font-size: 40px;
    line-height: 55px;
    color: white;
  }
  .banner {
    margin-top: 30px;
    width: 349px;
    height: 279px;
  }
  .players {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 17px;
    grid-column-gap: 17px;
    margin-top: 70px;
  }
  .players:nth-child(1) {
    margin-left: 80px;
  }
  .players:nth-child(3) {
    margin-left: 80px;
  }
  .players:nth-child(5) {
    margin-left: 80px;
  }
  .players:nth-child(7) {
    margin-left: 80px;
  }
  .players:nth-child(9) {
    margin-left: 80px;
  }
  .players:nth-child(11) {
    margin-left: 80px;
  }
  .highlights {
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 0;
  }
  .highlight-name {
    font-size: 36px;
    line-height: 46px;
  }
  .high-leftside {
    width: 349px;
    height: 319px;
    margin-right: 0;
    margin-bottom: 59px;
  }
  .match-img {
    width: 348px;
    height: 268px;
    margin-bottom: 80px;
  }
  .main-footer {
    width: 100%;
    height: 200px;
  }
  .foot-container {
    width: 280px;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 32%;
  }
  .f-logo {
    width: 213px;
    height: 54px;
  }
  .fab {
    width: 20px;
    height: 20px;
    text-decoration: none;
    color: grey;
  }
  .copy {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
  }
}
